.loginpage > h1 {
  text-align: center;
  font-size: 5vh;
  color: #fff;
  font-weight: 300;
}
h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
  margin-bottom: 4vh;
}
.login-background {
  background-color: #333;
  height: 50vh;
  width: 70vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid rgba(237, 238, 255);
}

.login-background > form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.login-background > form > input {
  width: 70%;
  height: 3vh;
  font-size: 1.5vh;
  font-weight: 300;
  margin-bottom: 3vh;
}
.login-background > form > label {
  font-size: 2vh;
  font-weight: 300;
  color: #fff;
}
.login-background > form > button {
  height: 3vh;
  width: 30%;
  font-size: 1.5vh;
  align-self: center;
}
.login-background > button,
.login-background > form > button {
  height: 3vh;
  width: 30%;
  font-size: 1.5vh;
  align-self: center;
  margin-top: 10px;
}
.login-background > button,
.login-background > form > button {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid rgba(237, 238, 255);
  position: relative;
  overflow: hidden;
  font-size: 1.5vh;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 1vh;
  color: rgba(237, 238, 255);
  font-weight: 300;
  height: 4vh;
  width: 20vw;
}

.login-background > button:hover,
.login-background > form > button:hover {
  box-shadow: 1px 1px 15px 5px rgba(237, 238, 255, 0.4);
}

.login-background > button:before,
.login-background > form > button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(237, 238, 255, 0.4),
    transparent
  );
  transition: all 650ms;
}

.login-background > button:hover:before,
.login-background > form > button:hover:before {
  left: 100%;
}
