.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 90vh;
  grid-gap: 10px;
  background-color: #333;
  grid-template-rows: repeat(8, 1fr);
}

.calendarcontainer > h2 {
  text-align: center;
  font-size: 3vh;
}

.year {
  margin-top: -5vh;
  color: rgba(237, 238, 255);
  font-weight: 300;
}
.month {
  color: rgba(237, 238, 255);
  font-weight: 300;
}

button.calButton {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid rgba(237, 238, 255);
  position: relative;
  overflow: hidden;
  font-size: 1.5vh;
  padding: 5px;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
  color: rgba(237, 238, 255);
  font-weight: 300;
}

button.calButton:hover {
  box-shadow: 1px 1px 15px 5px rgba(237, 238, 255, 0.4);
}

button.calButton:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(237, 238, 255, 0.4),
    transparent
  );
  transition: all 650ms;
}

button.calButton:hover:before {
  left: 100%;
}

@media screen and (min-width: 1000px) {
  .calendar {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
