.createcontact {
  background-color: cadetblue;
  height: 100%;
  width: 100%;
  margin: auto;
}

.createcontact > h2 {
  font-size: 3vh;
  text-align: center;
}

.contactform {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5vh;
}

.contactform > input {
  width: 70%;
  height: 3vh;
  font-size: 1.5vh;
}
.contactform > label {
  font-size: 2vh;
}
.contactform > button {
  height: 3vh;
  width: 30%;
  font-size: 1.5vh;
}
